
@{
    ViewBag.Title = "admin";
}

<h2>Admin Page</h2>

@Html.ActionLink("Politics", "Index", "Politics")
<br />
@Html.ActionLink("Elections", "Index", "Elections")
<br />
@Html.ActionLink("States", "Index", "States")
<br />
